/*-- -------------------------- -->
<---         Portfolio          -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0em) {
    #portfolio {
        padding-top: 50/16em;
        padding-bottom: 35%;
        position: relative;
        z-index: 5;

        .container {
            width: 96%;
            max-width: 1322/16em;
            padding: 0;
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-wrap: wrap;
            gap: 30/16em;
            font-size:~"min(1.3vw, 1em)";
            
            .row {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                gap: 22/16em;

                &:nth-of-type(1) {
                    picture {
                        &:nth-of-type(1) {
                            width: 420/16em;
                            height: 567/16em;
                        }

                        &:nth-of-type(2) {
                            width: 420/16em;
                            height: 629/16em;
                        }

                        &:nth-of-type(3) {
                            width: 420/16em;
                            height: 512/16em;
                        }


                    }
                }

                &:nth-of-type(2) {
                    picture {
                        &:nth-of-type(1) {
                            width: 420/16em;
                            height: 492/16em;
                        }

                        &:nth-of-type(2) {
                            width: 420/16em;
                            height: 517/16em;
                        }

                        &:nth-of-type(3) {
                            width: 420/16em;
                            height: 629/16em;
                        }
                    }
                }

                &:nth-of-type(3) {
                    picture {
                        &:nth-of-type(1) {
                            width: 420/16em;
                            height: 625/16em;
                        }

                        &:nth-of-type(2) {
                            width: 420/16em;
                            height: 452/16em;
                        }

                        &:nth-of-type(3) {
                            width: 420/16em;
                            height: 629/16em;
                        }
                    }
                }

                picture {
                    position: relative;
                    display: block;
                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: auto;
                        // width: 100%;
                        object-fit: cover;
                        border-radius: 8/16em;
                    }
                }
            }
        }
    }
}

/* Small Desktop */
@media only screen and (min-width: 64em) {
    #portfolio {
        padding: 150/16em 0;
    }
}

/*-- -------------------------- -->
<---    Final Call To Action    -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0em) {
  
}

/* Small Desktop */
@media only screen and (min-width: 64em) {
 
}

/* Large Desktop */
@media only screen and (min-width: 1300px) {
   
}

/* Dark Mode */
@media only screen and (min-width: 0em) {
  
}